/* Custom colors */
$civil-services-light-red: #e52025;
$civil-services-red: #A31E23;
$civil-services-dark-red: #631316;
$civil-services-light-blue: #2ab3f3;
$civil-services-blue: #1E72A1;
$civil-services-dark-blue: #1d4c7a;
$civil-services-black: #191919;
$civil-services-grey: #666666;
$civil-services-white: #FFFFFF;