@import 'variables';
@import 'theme';
@import 'plugins';
@import 'components';
@import 'pages';








.big {
  font-size: 300px;
  line-height: 1;
  text-shadow: none;
}

.breadcrumb {
  background-color: transparent;
  padding: 15px 15px;
}

section, .section {
  position: relative;
  z-index: 992;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #fff;
}

.section-small {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.list-inline > li {
  padding-bottom: 10px;
  vertical-align: bottom;
}

.label, input, .btn, textarea, .dropdown-menu, .panel, .progress, .list-group-item, select {
  border-radius: 0 !important;
}

.label {
  padding: .2em.7em.3em.7em;
}
.nav .label {
  padding: .4em.7em.3em.7em;
}

.label-danger {
  background-color: #c00;
}

.badge {
  line-height: inherit;
  border-radius: 2px !important;
}





#services-construction .icon-big {
  color: #d4c787;
}

#time .icon-big {
  color: #ff4081;
}


header .icon-big {
  line-height: 140px;
}
.classic,
.classic2 {
  font-family: 'Caveat';
  font-weight: normal!important;
  text-transform: capitalize;
  letter-spacing: 0;
  margin: 0 0 15px;
  transform: rotate(-3deg) !important;
  -moz-transform: rotate(-3deg) !important;
  -webkit-transform: rotate(-3deg) !important;
  opacity: .8;
  text-shadow: -1px -1px 0 #FFF;
}

.classic2 {
  font-family: 'Great Vibes';
}

.thin {
  font-weight: 100!important;
}











.nav .badge {
  background-color: #789;
  color: #fff;
  padding: 4px 5px 5px 6px;
  font-size: 11px;
  position: absolute;
  margin: -10px -5px;
  line-height: 1;
  border-radius: 50% !important;
}

.navbar-toggle {
  padding: 10px 0;
  .icon-bar {
    width: 22px;
    border-radius: 0;
    background: #fff;
  }
}

.top-nav-collapse .icon-bar {
  background: #333;
}

.vmenu {
  display: inline-block;
  margin: 0;
  padding: 0;
}
a.btn-nav .btn {
  margin-bottom: 0;
}

.navbar-custom .nav .dropdown-menu li a.btn-nav:hover {
  background-color: transparent;
}

.menu-divider {
  width: 1px;
  border-right: 1px solid #b3b3b3;
  line-height: 18px;
  margin: 23px 15px 0;
}

.dropdown-menu strong {
  padding: 20px 0 16px 18px;
  display: block;
  font-size: 13px;
  font-weight: 800;
  line-height: 1px;
  color: #555 !important;
}

.nav .active {
  height: auto !important;
}

.dropdown-menu {
  padding: 10px 0;
}



.dropdown-menu .fa {
  opacity: 0.5 !important;
  line-height: 13px!important;
}

.nav {
  .fa {
    font-size: 16px;
    line-height: 16px!important;
  }
  .fa-angle-down {
    font-size: 13px;
  }
  .fa, a .fa {
    opacity: 1!important;
  }
  .fa-plus {
    font-size: 12px;
  }
}

@media (min-width: 991px) {
  .search-form input {
    background: transparent;
    border: 0;
  }
  .navbar-custom {
    padding: 30px;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    background: transparent;
    &.top-nav-collapse {
      padding: 0 30px;
      background-color: #fff;
    }
  }
  .navbar-custom .nav .dropdown-menu li a:hover {
    background-color: #eee;
  }
  @-webkit-keyframes fadeInUniversal {
    0% {
      opacity: 0;
      transform: translate(0, -40px);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes fadeInUniversal {
    0% {
      opacity: 0;
      transform: translate(0, -40px);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  li:hover ul.dropdown-menu {
    opacity: 1;
    -webkit-animation: fadeInUniversal 0.7s;
    animation: fadeInUniversal 0.7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  .navbar-left {
    float: right !important;
  }
  ul.dropdown-menu {
    &.columns-2 {
      left: 0 !important;
      padding: 20px 22px 25px;
    }
    &.columns-3 {
      left: 0 !important;
      padding: 20px 22px 25px;
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
      min-width: 760px !important;
    }
    &.columns-2 {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      min-width: 380px !important;
    }
  }
  .columns2 .btn-white, .columns3 .btn-white {
    margin-top: 12px;
    display: inline-block;
  }
  .navbar-fixed-top .caret, .navbar-fixed-top .open > .dropdown-menu {
    display: none;
  }
  .angle-right:after {
    float: right;
    font-family: 'fontawesome';
    content: "\f105";
    color: inherit;
    position: absolute;
    right: 20px;
  }
}

@media (max-width: 991px) {
  .dropdown-menu {
    padding: 0;
  }
}

@media (max-width: 990px) {
  p.empty {
    display: none;
  }
  .search-button {
    display: none;
  }
  .nav {
    .badge {
      margin: 2px 4px;
    }
    a {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
      color: #000!important;
      &:focus {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
      }
    }
  }
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.98) !important;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    &.collapse {
      display: none !important;
    }
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7px;
    > li {
      float: none;
      > a {
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-collapse.in {
    overflow-y: visible !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    > li > a, .dropdown-header {
      padding: 10px 15px 10px 25px;
    }
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999;
    &:hover, &:focus {
      color: #fff;
      background-color: transparent;
      background-image: none;
    }
  }
  .navbar-brand {
    .logo {
      height: 40px !important;
      margin: 6px 0 0 10px;
    }
    .logo-short {
      margin-left: 10px;
    }
  }
  .introhalf .intro-body {
    padding: 110px 0 40px 0 !important;
  }
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 400px;
}

/* Backgrounds and font color */
.bg-white {
  background-color: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.bg-gray {
  background-color: #f7f7f7;
}

.bg-gray2 {
  background-color: #E8E8E8;
}

.bg-transparent {
  background-color: transparent;
}

.bg-dark {
  background-color: #18191B;
}

.bg-dark2 {
  background-color: rgba(12, 13, 15, 0.97);
}

.small-header {
    position: relative;
    z-index: 1;
    padding-top: 142px;
    padding-bottom: 55px;
}

.small-header {
  &.bg-dark:before, &.bg-transparent:before, &.bg-img:before, &.bg-img2:before, &.bg-img3:before, &.bg-img4:before, &.bg-img5:before {
    background: rgba(0, 0, 0, 0.75);
    content: " ";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: -9;
  }
}

@media (max-width: 992px) {
  .small-header {
    text-align: center !important;
    .text-right {
      text-align: center !important;
    }
  }
}

.small-header .bg-white {
  h2, h3 {
    color: #789;
  }
}

.bg-dark, .bg-dark2, .bg-transparent, .bg-img, .bg-img2, .bg-img3, .bg-img4, .bg-img5 {
  color: #fff!important;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.bg-img {
  background: url(/img/header/statue-of-liberty.jpg);
}

.bg-img2 {
  background: url(/img/header/17.jpg);
}

.bg-img3 {
  background: url(/img/header/13.jpg);
}

.bg-img4 {
  background: url(/img/header/10.jpg);
}

.bg-img5 {
  background: url(/img/header/office.jpg);
}

.bg-img, .bg-img2, .bg-img3, .bg-img4, .bg-img5 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.bg-dark a, .bg-dark2 a, .bg-transparent a, .bg-img a, .bg-img2 a, .bg-img3 a, .bg-img4 a, .bg-img5 a, .bg-primary a {
  color: #fff;
}

.bg-dark a:hover, .bg-dark2 a:hover, .bg-transparent a:hover, .bg-img a:hover, .bg-img2 a:hover, .bg-img3 a:hover, .bg-img4 a:hover, .bg-img5 a:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* Intro */
.intro {
  display: table;
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100% !important;
  z-index: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  a {
    color: #fff;
    &:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
}

.intro.background-top {
  background-position: center 40%;
}

.introhalf {
  height: auto !important;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
  padding: 150px 0 100px 0 !important;
  width: 100%;
  position: relative;
  z-index: 1;

  .badge {
    background-color: rgba(0, 0, 0, 0.4);
    color: #eee;
    font-size: 8px;
    position: absolute;
    margin: -9px -14px;
    line-height: 1;
    text-shadow: none;
    letter-spacing: 1px;
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 19px 0 0 2px;
    font-weight: 800;
  }
}

.introhalf .intro-body {
  padding: 150px 0 80px 0;
}

.landing .intro-body:before {
  position: absolute;
  background: transparent;
}

.intro-body:before {
  background: rgba(7,9,21,0.65);
  content: "";
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -9;
}

.intro-body.home-page:before {
  background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 50%);
  background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 50%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 50%);
  content: "";
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -9;
}

.intro {
  .intro-body .brand-heading {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -2px;
    margin: 0 0 5px;
  }
  h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    text-transform: none;
    margin: 0;

    &.classic {
      font-size: 100px;
      line-height: 100px;
      font-weight: normal;
    }
    &.classic2 {
      font-size: 110px;
      line-height: 110px;
    }
  }
  h4 {
    font-weight: 500;
    text-transform: none;
  }
  .lead {
    margin: 40px 0 0;
  }
  .home-page {
    h1, h4 {
      text-indent: -10000px;
      display: none;
      text-transform: none;
    }
  }
}

.intro-fullscreen {
  opacity: 1 !important;
  .intro-body {
    padding: 90px 0 20px;
  }
}

@media (max-height: 600px) {
    .intro-fullscreen {
      position: inherit;
    }
  }


@keyframes kenburns {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  .intro {
    padding: 0;
    .intro-body .brand-heading {
      font-size: 46px;
    }
  }
}

/* Intro solid color */
.solid-color, .solid-color2, .solid-color3 {
  .intro-body:before {
    background: transparent!important;
  }
  &.intro {
    text-shadow: none!important;
  }
}

.solid-color  {
  background-color: rgb(0, 188, 212);
}
.solid-color2 {
  background-color: rgb(255, 64, 129);
}
.solid-color3 {
  background-color: #607d8B;
}

/* Video background */
.video-controls {
  position: absolute;
  bottom: 30px;
  right: 40px;
  z-index: 1;
  opacity: .4;
  display: none;
}

.video-controls-visible {
  display: inline;
}

.video-controls {
  .fa {
    color: #fff;
    padding: 5px;
    width: 25px;
  }
  a.fa {
    text-decoration: none;
  }
}

.mbYTP_wrapper {
  z-index: 0 !important;
}
.section-video .mbYTP_wrapper {
  z-index: -1 !important;
}
.section-video:before {
  background: rgba(7,9,21,0.5);
  content: "";
  left: 0;
  top: 0;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -9;
}

.section-video {
  padding-top: 60px;
  padding-bottom: 60px;
  top: 0!important;
  opacity: 1!important;
}

.bg-video-small {
  text-align: left!important;
  opacity: 1!important;
  top: 0!important;
}

/* Forms */
.small-form {
  margin: 0 auto 40px !important;
  max-width: 480px;
}

.help-block {
  li {
    list-style: none;
    color: #990000;
  }
  ul {
    padding: 0;
    margin: 0;
  }
}

.form-control {
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .3s,-webkit-box-shadow ease-in-out .3s;
  transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s;
  &:focus {
    border-color: #888;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.subscribe-form {
  padding-bottom: 10px;
}

.input-group-btn:last-child > {
  .btn, .btn-group {
    margin-left: 0;
  }
}

input {
  &[type=checkbox], &[type=radio] {
    margin: 7px 0 0;
  }
}

.checkbox label, .radio label {
  font-weight: 300;
}

.form-signin {
  .form-control {
    position: relative;
    &:focus {
      z-index: 2;
    }
  }
  input {
    margin-bottom: -1px;
  }
}

.dark-form  {
  input, textarea {
    color: #ccc;
    background-color: #18191b;
    border: 0;
  }
}

/* Subscribe form */
#subscribe {
  color: #333!important;
  text-shadow: none;
  a {
    color: #333!important;
  }
}

/* Countdown */
#next-election {
  padding: 0;
  div {
    font-weight: 500;
    display: inline-block;
    font-size: 12px;
    margin: 0 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 60px;
  }
  span {
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    display: block;
    font-size: 64px;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #ccc;
  }
}

@media (max-width: 1170px) {
  [id*="clock"] {
    div {
      margin: 0 15px;
    }
    span {
      font-size: 48px;
      padding: 18px 0;
    }
  }
}

@media (max-width: 768px) {
  [id*="clock"] {
    div {
      margin: 0 15px;
    }
    span {
      font-size: 42px;
      padding: 15px 0;
    }
  }
}

@media (max-width: 468px) {
  [id*="clock"] {
    div {
      margin: 0 7px;
    }
    span {
      font-size: 32px;
      padding: 5px 0;
    }
  }
}


/* News - Blog etc grid */
#news {
  div[class*="col-"] {
    margin-bottom: 60px;
  }
  .small {}
  h5 {
    padding-top: 10px;
    margin-bottom: 25px;
  }
}

.grid-pad {
  img {
    margin-bottom: 20px;
  }
  div[class*="col-"] {
    margin-bottom: 40px;
  }
}

#news-single .carousel {
  padding-bottom: 20px;
}

.row:not(:first-child) {
  padding-top: 40px;
}

/* Team */
#team {
  h2 {
    padding-bottom: 0!important;
  }
  p {
    margin-bottom: 10px;
  }
  .list-inline {
    margin: 0;
  }
  img {
    border-radius: 50%;
    max-width: 80%;
  }
}

/* Contact */
#contact2 {
  a {
    text-decoration: none;
    color: #555;
  }
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #ccc;
  }
  .list-inline {
    padding-top: 10px;
  }
}

@media (max-width: 991px) {
  #contact {
    text-align: center;
  }
}

/* Quote */
blockquote {
  padding: 18px;
  margin: 0 0 20px;
  border-left: none;
  &:before, &:after {
    color: #ccc;
    font-size: 18px;
    font-family: fontawesome;
  }
  &:before {
    content: "\f10d";
    padding-right: 15px;
  }
  &:after {
    content: "\f10e";
    padding-left: 10px;
  }
}

.quote {
  font-size: 18px;
}


/* Facts */
@media (max-width: 768px) {
  .facts .col-sm-3 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.action-box {
  li {
    float: left;
    margin: 20px 0 0 15px;
  }
  span {
    display: none;
  }
}

#tweecool span {
  font-size: 18px;
}

/* Map */
#map, #mapdark {
  width: 100%;
  height: 430px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#mapdark {
  border: 0!important;
}
.mapsmall {
  margin-bottom: 30px;
  border: 0!important;
}

/* Carousel */
.carousel-control {
  width: 8%;
  color: #000;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
  &:focus, &:hover {
    color: #000;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
    opacity: 0.5;
  }
  &.left, &.right {
    background-image: none;
    filter: none;
  }
}

#Carousel-intro .carousel-control {
  color: #fff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
  &:focus, &:hover {
    color: #fff;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
    opacity: 0.5;
  }
}

@media (max-width: 991px) {
  .carousel-big {
    .carousel-control{
      display: none;
    }
  }
}


.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }
    .active {
      opacity: 1;
      &.left, &.right {
        left: 0;
        opacity: 0;
        z-index: 1;
      }
    }
    .next.left, .prev.right {
      opacity: 1;
    }
  }
  .carousel-control {
    z-index: 9;
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item {
    &.next, &.active.right, &.prev, &.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    &.next.left, &.prev.right, &.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

.carousel-indicators {
  bottom: -60px;
}

.indicators-inside {
  bottom: 7px;
}

#Carousel-intro .carousel-indicators {
  bottom: 30px;
}

.carousel-indicators {
  .active {
    width: 16px;
    height: 16px;
    margin: 0 5px 0;
  }
  li {
    width: 16px;
    height: 16px;
    margin: 0 5px 0;
    background-color: #666;
    border: 0;
  }
  .active {
    background-color: #999;
  }
}

.carousel-control {
  .icon-next, .icon-prev {
    font-family: sans-serif;
    font-size: 50px;
  }
}

#carousel-light2 {
  margin-top: -115px;
}

.fill {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.carousel-control {
  .icon-next:before {
    font-family: "ionicons";
    content: "\f3d3";
  }
  .icon-prev:before {
    font-family: "ionicons";
    content: "\f3d2";
  }
}

#carousel-news img {
  width: 100%;
}

/* Shop thumbnails carousel */
#carousel-example-generic {
  margin: 20px auto;
  width: 400px;
}

#carousel-shop {
  .carousel-indicators {
    img {
      max-width: 104px;
    }
    margin: 10px 0 0;
    text-align: left;
    width: 100%;
    position: static;
    li {
      background-color: transparent;
      -webkit-border-radius: 0;
      border-radius: 0;
      display: inline-block;
      height: auto;
      margin: 0 !important;
      width: auto;
      img {
        display: block;
        opacity: 0.3;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
      &.active img {
        opacity: 1;
      }
      &:hover img {
        opacity: 0.75;
      }
    }
  }
  .carousel-outer {
    position: relative;
    padding-bottom: 40px;
  }
}

#carousel-dark {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.27);
}

.nav-pills {
  &.nav>li>a:focus,
  &.nav>li>a:hover {
    background-color: transparent;
  }
  &.nav>li>a {
    padding: 0;
  }
}

/* Animated mouse */
.scroll-btn {
  width: 57px;
  display: block;
  text-align: center;
  margin: 60px auto -60px;
  .weel {
    position: relative;
    display: inline-block;
    height: 22px;
    margin: 10px auto 5px;
  }
  .mouse {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 24px;
    opacity: .5;
  }
  .weel span {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -14px 0 0 -4px;
    background: #fff;
    border-radius: 20px;
    -webkit-animation: scroll 3s linear infinite;
    -moz-animation: scroll 3s linear infinite;
    animation: scroll 3s linear infinite;
  }
}

@-webkit-keyframes scroll {
  1% {
    opacity: 1;
    top: 30%; }
  20% {
    opacity: 1;
    top: 80%; }
  60% {
    opacity: 0;
    top: 80%; }
  100% {
    opacity: 0;
    top: 30%; } }
@-moz-keyframes scroll {
  1% {
    opacity: 1;
    top: 30%; }
  20% {
    opacity: 1;
    top: 80%; }
  60% {
    opacity: 0;
    top: 80%; }
  100% {
    opacity: 0;
    top: 30%; } }
@keyframes scroll {
  1% {
    opacity: 1;
    top: 30%; }
  20% {
    opacity: 1;
    top: 80%; }
  60% {
    opacity: 0;
    top: 80%; }
  100% {
    opacity: 0;
    top: 30%; } }

@media (max-height: 690px) {
  .scroll-btn {
    display: none;
  }
}


/* Text rotator */
.rotating {
  display: inline-block;
}

/* Number scroller */
.numscroller {
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  font-size: 50px;
  line-height: 90px;
  letter-spacing: 10px;
}

/* Testimonials */
#testimonials {
  .carousel-inner img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  .carousel-caption {
    position: static;
    text-shadow: none;
    color: #444;
  }
  &.bg-dark .carousel-caption {
    color: #fff;
  }
}

/*  Portfolio  */
.portfolio-sorting {
  text-transform: uppercase;
  margin-bottom: 48px;
  li a {
    color: #888;
    text-decoration: none;
    margin: 10px;
    letter-spacing: 2px;
    font-weight: 600;
  }
  a {
    &:hover, &.active {
      color: #555;
    }
  }
}

.portfolio-item {
  font-size: 14px;
  position: relative;
  overflow: hidden;
  display: block;
  -webkit-transition: all .9s ease;
  -moz-transition: all .9s ease;
  transition: all .9s ease;
}

.portfolio-items {
  margin-bottom: 0;
}

.portfolio-item {
  a {
    display: inline-block;
    color: #fff !important;
    &:hover .portfolio-overlay {
      opacity: 1;
      visibility: visible;
    }
  }
  img {
    max-width: none;
    position: relative;
    left: 0;
    width: 100%;
  }
  &:hover img {
    transform: scale(1.2, 1.2) translate(15px, 15px);
    -ms-transform: scale(1.2, 1.2) translate(15px, 15px);
    -webkit-transform: scale(1.2, 1.2) translate(15px, 15px);
  }
}

.portfolio-overlay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  .caption {
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 0 30px;
    text-align: left;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    opacity: 0;
  }
}

.portfolio-item a:hover .portfolio-overlay .caption {
  bottom: 10%;
  opacity: 1;
}

.portfolio-item a h5 {
  margin-bottom: 0;
  font-weight: 800;
  color: #fff;
}

.portfolio-wide div {
  margin-bottom: 10px;
}

/* Pricing */
.panel {
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.pricing {
  .number {
    font-size: 60px;
  }
  .panel-heading {
    border: 0;
    background-color: #eee;
    h4 {
      margin-bottom: 0;
    }
  }
}

#accordion {
  .panel-heading {
    h4.panel-title {
      a {
        width: 100%;
        display: block;
      }
    }
  }
}


.panel-default {
  border-color: transparent;
}

.pricing {
  sup, sub {
    font-weight: 600;
    color: #999;
  }
  sup {
    font-size: 16px;
    top: -33px;
  }
  sub {
    font-size: 10px;
    top: 0;
  }
}

.bg-dark {
  .panel, .panel-body, .list-group-item {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .pricing .panel-heading {
    border: 0;
    background-color: #000;
    color: #ccc;
  }
}

section.bg-dark .fa, section.bg-dark2 .fa {
  color: #ccc;
}

.bg-dark .list-group-item, .bg-dark2 .list-group-item {
  border: 1px solid #222;
}

.pricing {
  .panel-heading {
    border: 0;
  }
  .btn {
    display: block;
  }
  .list-group-item, .panel-heading {
    padding: 17px 10px;
  }
}

/* Miscellaneous */
.nav-tabs {
  margin-bottom: 30px;
}

/* Pager */
.pager li > {
  a, span {
    padding: 30px 0;
    border: 0;
  }
  a {
    &:focus, &:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }
}

.pagination > {
  li > {
    a, span {
      padding: 8px;
      margin-left: 8px;
      border-radius: 50%;
      color: #000;
      width: 40px;
      height: 40px;
      background: #eee;
      border-color: #fff;
    }
  }
  .active > {
    a {
      background-color: #333;
      border-color: #333;
      &:focus, &:hover {
        background-color: #333;
        border-color: #333;
      }
    }
    span {
      background-color: #333;
      border-color: #333;
      &:focus, &:hover {
        background-color: #333;
        border-color: #333;
      }
    }
  }
  li {
    &:first-child > {
      a, span {
        border-radius: 50% !important;
      }
    }
    &:last-child > {
      a, span {
        border-radius: 50% !important;
      }
    }
  }
}

/* Bars and charts */
#animate img {
  padding-bottom: 180px;
}

.progress-default {
  .progress {
    background-color: #ddd;
    margin-bottom: 15px;
    height: 25px;
  }
  .progress-bar {
    background-color: #333;
    padding: 3px 0;
  }
}

.progress-bar {
  text-align: left;
  text-indent: 20px;
}

.progress-thin {
  .progress {
    height: 2px;
    overflow: visible;
    margin-bottom: 35px;
  }
  .progress-bar {
    color: #333;
    text-indent: 0;
    padding: 0;
  }
}

.bg-dark {
  .progress-default {
    .progress {
      background-color: #888;
    }
    .progress-bar {
      background-color: #555;
    }
  }
  .progress-thin .progress-bar {
    color: #ccc;
  }
}

.circle {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  vertical-align: top;
  text-align: center;
  width: 100px;
  padding-top: 38px;
  span {
    font-family: "Roboto Mono", sans-serif;
    letter-spacing: -1px;
  }
  canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 6px;
  }
  span:after {
    content: '%';
    margin-left: 0.1em;
  }
}

.agenda {
  padding-top: 45px;
}

.progress-bar {
  -webkit-transition: width 2.50s ease !important;
  -moz-transition: width 2.50s ease !important;
  transition: width 2.50s ease !important;
}

/* Shop */
.shop-nav {
  width: 250px;
  overflow: hidden;
  padding: 10px 18px 0;
  display: block;
}

.shop-item {
  position: relative;
}

.shop-item img {
  border: 1px solid #eee;
}

nav .shop-cart {
  width: 100%;
  font-size: 11px;
  line-height: 14px;
  overflow: hidden;
}

li .shop-cart {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 15px;
  a:hover {
    background-color: transparent !important;
  }
}

.shop-cart img {
  width: 70px;
  padding-right: 10px;
  float: left;
}

.shop-nav {
  color: #333;
  a {
    color: #333;
  }
  .btn-dark-border {
    margin-bottom: 8px;
  }
  .fa {
    margin: 0 0 15px 5px;
  }
}

.add-cart {
  position: absolute;
  bottom: 8px;
  left: 20px;
  z-index: 1;
  font-weight: 800;
}
.add-cart:before {
  font-family: 'fontawesome';
  content: "\f290";
  padding-right: 10px;
  font-size: 20px;
  opacity: 0.5;
}

.badge.price {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  top: -20px;
  right: -10px;
  width: 70px;
  height: 70px;
  text-align: center;
  z-index: 1;
  padding-top: 25px;
  border-radius: 50%!important;
  opacity: 0.7;
  &.sale {
    top: 30px;
    background-color: #789;
    color: #fff;
    text-transform: uppercase;
  }
  &.trend {
    top: 30px;
    background-color: #c00;
    color: #fff;
    text-transform: uppercase;
  }
  &.new {
    top: 30px;
    background-color: #ff4081;
    color: #fff;
    text-transform: uppercase;
  }
}

.sorting {
  border: 0;
  margin: -9px 0px;
  background: transparent;
  > option {
    font-size: 14px;
  }
}

.table.shop-cart {
  margin-bottom: 60px;
  > {
    tbody > tr > {
      td, th {
        padding: 11px;
        vertical-align: middle;
        border-top: 1px solid #ddd;
      }
    }
    tfoot > tr > {
      td, th {
        padding: 11px;
        vertical-align: middle;
        border-top: 1px solid #ddd;
      }
    }
    thead > tr > {
      td, th {
        padding: 11px;
        vertical-align: middle;
        border-top: 1px solid #ddd;
      }
    }
  }
  h3, h4, h5 {
    padding: 0;
    margin: 0;
  }
}


@media (max-width: 768px) {
  .table.shop-cart > {
    tbody > tr > {
      td, th {
        padding: 5px;
      }
    }
    tfoot > tr > {
      td, th {
        padding: 5px;
      }
    }
    thead > tr > {
      td, th {
        padding: 5px;
      }
    }
  }
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    letter-spacing: 0;
  }
  .h4, h4 {
    font-size: 16px;
  }
  .h2, h2 {
    font-size: 24px;
  }
  .h3, h3 {
    font-size: 20px;
  }
  .intro h1 {
    font-size: 48px;
    line-height: 48px;
    &.classic {
      font-size: 60px;
      line-height: 60px;
      margin: 50px 0 50px;
    }
    &.classic2 {
      font-size: 65px;
      line-height: 65px;
      margin: 50px 0 50px;
    }
  }
  section, .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-small {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .portfolio-sorting li a {
    margin: 0;
    letter-spacing: 0;
  }
  .shop-item img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .action {
    .btn {
      float: none;
      margin-top: 30px;
      text-align: center;
    }
    .text-right {
      text-align: center;
    }
    text-align: center;
  }
  .footer {
    .text-right {
      text-align: left;
    }
    .footer-menu  {
      padding-bottom: 20px;
    }
  }
  section {
    background-attachment: scroll !important;
    background-position: 50% 50% !important;
  }
  .search-button {
    margin-top: 5px;
  }
  .dropdown-menu .search-button .fa {
    opacity: 1 !important;
  }

  .nav {
    li a {
      -webkit-transition: all .0s ease-in-out !important;
      -moz-transition: all .0s ease-in-out !important;
      transition: all .0s ease-in-out !important;
      }
    }
}

@media (max-width: 1200px) {
  #about, #about2, #about-slider, #action-slider, #action-slider2, #action-slider3 {
    text-align: center;
  }
  #carousel-light, #carousel-light2, #carousel-light3,  #carousel-light4, #carousel-dark, #carousel-transparent {
    margin: 45px 0;
  }
}

@media (max-width: 480px) {
  #about h3 {
    font-size: 90%;
  }
  .intro h1 {
    font-size: 20px;
    line-height: 40px;
    font-weight: 800;
  }
  .state-selection h4 {
    font-size: 80%;
  }
  .map {
    .block {
      a {
        font-size: 70%;
        font-weight: 700;
        line-height: 20px !important;
      }
    }
  }
}

/* Magic background */
.magic, .magic2 {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

/* Footer */
.footer {
  color: #444;
  font-size: 14px;
  .footer-menu a {
    line-height: 24px;
  }
  .counter {
    line-height: 44px;
  }
  h4, h5, h6 {
    font-weight: 800;
    opacity: 0.7;
  }
  a {
    text-decoration: none;
    opacity: 1;
    &:hover {
      text-decoration: none;
    }
  }
}

.footer-small {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 999;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
    .text-right {
      text-align: center!important;
    }
  }

}

/* Stop animation on mobile devices */
@media (max-width: 800px) {
  .wow{
    animation-name: none !important;
    visibility: visible !important;
  }
}


/* Demo page */
.intro.demo-header {
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .intro.demo-header {
    h1 {
      font-size: 42px;
    }
  }
}

.demo {
  .container-fluid {
    padding-right: 40px;
    padding-left: 40px;
  }
  img {
    margin: 15px 0;
    box-shadow: 0 10px 20px rgba(0,0,0,.10);
  }
  h6 {
    font-weight: 500 !important;
  }
  .badge.new {
    background-color: #ff4081;
    color: #fff;
    font-size: 9px;
    position: absolute;
    top: 26px;
    right: 20px;
    margin: -24px -14px;
    line-height: 1;
    letter-spacing: 1px;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 17px;
    z-index: 1;
  }
}

.intro.demo-header .intro-body:before {
  background: rgba(25, 25, 35, 0.7);
}

.scroll-background {
  -webkit-animation: scroll-background 2000s linear infinite;
  animation: scroll-background 2000s linear infinite;
  background-repeat: repeat-x !important;
  margin-top: 58px;
  top: 0!important;
}
@-webkit-keyframes scroll-background { from { background-position: 0 0; } to { background-position: -40000px 0; }}
@keyframes scroll-background { from { background-position: 0 0; } to { background-position: -40000px 0; }}

ul.state-list {
  li {
    display: inline-block;

    a {
      display: block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-weight: 500;
    }
  }
}

.fb-page blockquote {
  padding: 0;
  margin: 0;
  border: none;
  &:before, &:after {
    content: "";
    padding: 0;
  }
}

ul.state-list {
  max-width: 340px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 25px;

  li.active a {
    color: $civil-services-red;
    font-weight: 700;
  }
}

.max-h-240 {
  max-height: 240px;
}

.section-breadcrumb {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  background-color: ghostwhite;

  h6.breadcrumb {
    padding: 0;
    margin: 0;
    color: #444;
    font-weight: 500;

    a {
      color: #444;
      font-weight: 500;

      &:hover {
        color: #111;
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
}





.filter-list {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        text-transform: uppercase;
        line-height: 24px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.1em;
        margin: 0 0 35px;
      }
    }
  }
}

@media (max-width: 990px) {
  .filter-list {
    h4 {
      display: none;

      &.show {
        display: block;
      }
    }
  }
}

.accountability {
  li.list-group-item {
    background-color: #FFF;
    transition: all 0.15s ease;

    &:hover {
      background-color: #777;
      color: $civil-services-white;

      a {
        color: #FFF;
      }

      span {
        color: #777;
        background-color: $civil-services-white;
      }
    }

    a {
      display: block;
      transition: all 0.15s ease;
      font-weight: 500;
      color: #444;
    }
  }
}
.contact-buttons {
  padding: 20px 0;

  a {
    padding: 10px 12px;

    .fa {
      opacity: 1 !important;
    }
  }
}